@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: 'Big Shoulders Display', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 120px;
  color: #ff4e50; /* red: FF4e50 ,   yellow f9d423 orange #fc913a */
  text-shadow: 1px 1px 0 #f9d423, 1px -1px 0 #f9d423, -1px 1px 0 #f9d423,
    -1px -1px 0 #f9d423;
  z-index: 99;
}

#glow:hover {
  color: #f9d423;
  text-shadow: 1px 1px 0 #ff4e50, 1px -1px 0 #ff4e50, -1px 1px 0 #ff4e50,
    -1px -1px 0 #ff4e50;
}

.sabotage {
  background-color: #f9d423;
  color: #000;
  text-shadow: 1px 1px 0 #ff4e50, 1px -1px 0 #ff4e50, -1px 1px 0 #ff4e50,
    -1px -1px 0 #ff4e50;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 12px;
  font-size: 12px;
  padding: 12px 24px;
  border: #ff4e50 2px solid;
  box-shadow: 0 -5px rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 100;
  margin-top: -30px;
  margin-bottom: 120px;
}

.sabotage:hover {
  color: #000;
  background-color: #fc913a;
  text-shadow: 2px 2px 0 #f9d423, 2px -2px 0 #f9d423, -2px 2px 0 #f9d423,
    -2px -2px 0 #f9d423;
  border: #f9d423 2px solid;
}

.sabotage:active {
  transform: scale(0.95);
  transition: all 0.2s ease-out;
  background-color: #ff4e50;
}

.stripes {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: 2.5s ease;
}

.stripes.shattered {
  width: 1200px;
  height: 300px;
}

.stripes.shattered .stripe {
  transform: rotateY(360deg);
}

.stripe {
  background-image: url('https://media4.giphy.com/media/Ny4Ian52lZDz2/giphy.gif?cid=ecf05e47jndjs5t4w2tjh6rcqqu6cojh4w65u256szqghrze&rid=giphy.gif&ct=g');
  /* background-image: url('https://media2.giphy.com/media/Qa47txUkn3c5aTMA9C/giphy.gif?cid=ecf05e47mvpd5v1tfarcg2txf5ijldkkte5u510e2tcci7ct&rid=giphy.gif&ct=g'); */
  background-repeat: no-repeat;
  background-size: 800px 300px;
  position: relative;
  transition: 0.5s ease;
  height: 300px;
  width: 80px;
}

.stripe::before {
  content: '';
  background-color: #fc913a;
  position: absolute;
  top: -15px;
  right: -8px;
  height: 15px;
  width: 100%;
  transform: skewX(-45deg);
}

.stripe::after {
  content: '';
  background-color: #ff4e50;
  position: absolute;
  top: -8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(-45deg);
}
